<div id="Sign-in-display" class="rounded-10">
<h2>Sign In</h2>
<% form_for(:session , :url=>sessions_path) do |f|%>
<br></br>
<div class="field">
  <h3><%=f.label :email%><br></h3>
  <%=f.text_field :email%>
</div>
<br></br>
<div>
  <h3><%=f.label :password%><br></h3>
  <%=f.password_field :password%>
</div>
<br></br>
<div class="actions">
  <%=f.submit "Sign in"%>
</div>
<%end%>

<h4><p>New user? <%= link_to "Register now!", signup_path %></p></h4>

<div id="easysteps"  class="bullet"><h2>Easy Steps to Report</h2>
<ul id="submenu">
                       		<li>Sign In to Report</li>
							<li>Select Threat category and Location from the list box</li>
                       		<li>Type in Report title and description</li>
                       		<li>Choose the Date of incident from the prompt</li>                        
                        	<li>Upload Pictures or provide video Link</li>
							<li>Use the Map to pinpoint the incident</li>
                        	<li>Click on Submit Button</li>                       
</ul>
<img title="Step 1" src="images/Untitled-7.jpg">
</div>
</div>
