<div id="Sign-up-display" class="rounded-10">
<h2>Register</h2>
<% form_for(@user) do |f|%>
<%=f.error_messages%>
<br></br>
<div class="field">
  <h3><%=f.label :name%> <br/></h3>
  <%=f.text_field :name%>
</div>
<div class="field">
  <h3><%=f.label :email%><br/></h3>
  <%=f.text_field :email%>
</div>
<div class="field">
  <h3><%=f.label :password%><br/></h3>
  <%=f.password_field :password%>
</div>
<div class="field">
  <h3><%=f.label :password_confirmation%><br/></h3>
  <%=f.password_field :password_confirmation%>
</div>
<br></br>
<div class="action">
  <%=f.submit "Sign up"%>
</div>
<%end%>
</div>
