<div id="Sign-up-display" class="rounded-10">
<h2>Register</h2>
<% form_for(@user) do |f|%>
<%=f.error_messages%>
<br></br>
<div class="field">
  <h3><%=f.label :first_name%> <br/></h3>
  <%=f.text_field :firstname%>
</div>
<div class="field">
  <h3><%=f.label :last_name%> <br/></h3>
  <%=f.text_field :name%>
</div>
<div class="field">
  <h3><%=f.label :email%><br/></h3>
  <%=f.text_field :email%>
</div>
<div class="field">
  <h3><%=f.label :password%><br/></h3>
  <%=f.password_field :password%>
</div>
<div class="field">
  <h3><%=f.label :password_confirmation%><br/></h3>
  <%=f.password_field :password_confirmation%>
</div>
<div class="field">
  <h3><%=f.label :phone_number%> <br/></h3>
  <%=f.text_field :phone_number%>
</div>
<div class="field">
  <h3><%=f.label :address%> <br/></h3>
  <%=f.text_field :address%>
</div>
<div class="field">
  <h3><%=f.label :city%> <br/></h3>
  <%=f.text_field :city%>
</div>
<div class="field">
  <h3><%=f.label :postal_code%> <br/></h3>
  <%=f.text_field :postal_code%>
</div>
<div class="field">
  <h3><%=f.label :country%> <br/></h3>
  <%=f.text_field :country%>
</div>
<br></br>
<div class="action">
  <%=f.submit "Sign up"%>
</div>
<%end%>
</div>
