 <div id="main-report-display" class="rounded-10">
   <h2>Latest Reports</h2>
   <div id="index-button-div">
     <%= link_to image_tag('button.png') , new_report_path %>
   </div>
   <table class="tbl" cellpadding="0" cellspacing="0">
     <thead>
       <tr>
	 <td class="td-1 thead-leftc">Title</td>
	 <td class="td-2">Location</td>   
	 <td class="td-3">Date</td>
	 <td class="td-4 thead-rightc">Threat Category</td>                                                                  
       </tr>                
     </thead>
     <tbody>
       <% @reports.each do |report| %>
       <tr class="odd">
	 <td class="td-1"><%= link_to h(report.title), report%></td>
	 <td class="td-2"><%=report.location.name%></td>
	 <td class="td-3"><%=report.incident_date%></td>
	 <td class="td-4"><%=report.category.name%></td>                                                
       </tr>
       <%end%>
     </tbody>
   </table>
   <a href="/reports" onmouseover="this.style.color='#B22222'"
onmouseout="this.style.color='#5eba62'" style="color:#5eba62;font-size:13px;text-decoration:none"
title="All Reports">show all reports</a>
 </div>