<% form_for :filtercondition, :action=>'index', :html => { :method => :get } do |f|%>
  <%= f.label :location %>
  <%= f.select(:location_id,@locations.collect{|location|[location.name,location.id]},
               {:selected=>params[:filtercondition][:location_id].to_i,:include_blank=>true},:class=>'width required')%> &nbsp;

  <%=f.label :category%>
  <%= f.select (:category_id,@categories.map{|category|[category.name,category.id]},
                {:selected=>params[:filtercondition][:category_id].to_i,:include_blank=>true},:class=>'width required') %> &nbsp;

  <%= f.label :date_from%>
  <%=f.text_field :date_from,:style=>['width:100px'],:value=>params[:filtercondition][:date_from]%>&nbsp;

  <%= f.label :date_to%>
  <%=f.text_field :date_to,:style=>['width:100px'],:value=>params[:filtercondition][:date_to]%>&nbsp;

  <%= f.submit "Filter Report" %>
<% end %>
 
<div class="tabber">
    <div class="tabbertab" title="reports">
    <div id="report-page-display" class="rounded-10" style="width:100%">
      <%= will_paginate%>
          <table class="tbl" cellpadding="0" cellspacing="0">
	<thead>
	  <tr>
	    <td class="td-6 thead-leftc">Title</td>
	    <td class="td-7">Location</td>   
	    <td class="td-8">Date</td>
	    <td class="td-9 thead-rightc">Threats Category</td>                                                                  
	  </tr>                
	</thead>
	<tbody>
	  <%@reports.each do |report|%>
	  <tr class="odd">
	    <td class="td-6"><%=link_to report.title,report_path(report)%></td>
	    <td class="td-7"><%=report.location.name%></td>
	    <td class="td-8"><%=report.incident_date%></td>
	    <td class="td-9"><%=report.category.name%></td>                                                
	  </tr>
      <%end%>
	</tbody>
      </table>
      <%= will_paginate%>
    </div>
  </div>
  
  <div class="tabbertab" title="Maps"> 
    <div id="map" class="rounded-10" style="width:100%">
    </div>
  </div>

</div>

<script type="text/javascript">

    document.write('<style type="text/css">.tabber{display:none;}<\/style>');
    var initialized=false
    var tabberOptions = {
	'manualStartup':true,
	
	'onLoad': function(argsObj) {
	    
	    if (argsObj.tabber.id == 'tab2') {
		alert('Finished loading tab2!');
	    }
	},

	'onClick': function(argsObj) {
	  
	    $("#map").multipleMarker()
	    initialized=true
	  
	 
	},
	
	'addLinkId': true
    };


tabberAutomatic(tabberOptions);
$("#filtercondition_date_from").datepicker();
$("#filtercondition_date_to").datepicker();
</script>
