<div id="submit-report" class="rounded-10">           
  <div id="contact-box">
  <div id="contact" class="rounded-10">
    <% form_for(@report, :html=>{:multipart=>true})do |f|%>
    <fieldset>
      <ol>
	<li>
	  <%=f.label(:categories,"Select Threat", :class=>"name")%>
	  <%=f.select(:category_id,@categories.map{|c|[c.name,c.id]},{:include_blank=>false},:class=>'width required')%>
	</li>
	<li>
	  <%=f.label :location, 'Select Location', :class=>'name'%>
	  <%=f.select(:location_id,@locations.map{|l|[l.name,l.id]},{:include_blank=>false},:class=>'width required')%>
	</li>
	<li>
	  <%=f.label :title,'Report Title',:class=>'name'%>
	  <%=f.text_field :title,:class=>'width required' %>
	</li>
	<li>
	   <%=f.label :description,'Description',:class=>'name'%>
	   <%=f.text_area :description,:class=>'width required'%>
	</li>
	<li>
	  <%=f.label :incident_date,'Date of incident',:class=>'name'%>
	  <%=f.text_field :incident_date,:class=>'width required'%>
	</li>
	<li>
	  <label for="email" class="name">Upload Photo</label>
	  <input id="photos" type="file" name="file_1" />
	  <div id="files_list"></div>
	</li>
	<li>
	  <label for="submit" class="name">&nbsp;</label>
	  <%=f.submit "Submit"%>
	  <%=f.hidden_field :lat %>
	  <%=f.hidden_field :lng %>
	</li>
      </ol>
    </fieldset>
    <%end%>
  </div>
  </div>

  <div id="submit-map-display">
    <div id="map" class="rounded-10">
     </div>
  </div> 
</div>

<script type="text/javascript">
  
$(document).ready(function() {
    $("#files_list").multiPhotoUpload();
    $("#report_incident_date").datepicker();
    $("#map").mapWithSingleMarker()
  });
</script>
