<div id="report-detail" class="rounded-10" style="left: 0px; top: 0px;">           
  <div id="detail-box"><h2></h2>
  <div id="report-display" class="rounded-10">
      <ol>
      <li>
	<label class="name">Report Title</label>
	<p class="rounded-5"><%=@report.title%></p>
      </li>
      <li>
	<label class="name">Location</label>
	<p class="rounded-5"><%=@report.location.name%></p>
      </li>
      <li>
	<label class="name">Date</label>
	<p class="rounded-5"><%=@report.incident_date%></p>
      </li>
      <li>
	<label class="name">Threat Category</label>
	<p class="rounded-5"><%=@report.category.name%></p>
      </li>
    </ol>	
  </div>
</div>
<div id="pic-box">
  <h2></h2>
 
    <div id="galleria">
      <%@report.incident_images.each do |image|%>
      <div>
	<%= image_tag image.image.url %>
      </div>
      <%end%>
 
     </div>
</div> <!-- #submit-map-display (end) -->   
  
  <div id="report-description-box" class="rounded-10">
    <label class="name">Report Description</label>
    <p class="rounded-10"><%=@report.description%></p>
   
  </div>
  
</div><!-- #submit report (end) -->

 
  <script>
    
    // Load theme
    Galleria.loadTheme('/javascripts/themes/classic/galleria.classic.js');
    
    // run galleria and add some options
    $('#galleria').galleria({
        image_crop: false, // crop all images to fit
	height: 300,
        thumb_crop: true, // crop all thumbnails to fit
        transition: 'fade', // crossfade photos
        transition_speed: 700, // slow down the crossfade
        data_config: function(img) {
            // will extract and return image captions from the source:
            return  {
                title: $(img).parent().next('strong').html(),
                description: $(img).parent().next('strong').next().html()
            };
        },
        extend: function() {
            this.bind(Galleria.IMAGE, function(e) {
                // bind a click event to the active image
                $(e.imageTarget).css('cursor','pointer').click(this.proxy(function() {
                    // open the image in a lightbox
                    this.openLightbox();
                }));
            });
        }
    });
    </script>