<div id="report-detail" class="rounded-10">           
  <div id="contact-box"><h2>Report Details</h2>        
        <div id="report-display" class="rounded-10">
	  <ol>
	    <li>
	      <label class="name">Report Title</label>
	      <p class="rounded-5"><%=@report.title%></p>
	    </li>
	    <li>
	      <label class="name">Location</label>
	      <p class="rounded-5"><%=@report.location.name%></p>
	    </li>
	    <li>
	      <label class="name">Date</label>
	      <p class="rounded-5"><%=@report.incident_date.to_s("dd/mm/yyyy")%></p>
	    </li>
	    <li>
	      <label class="name">Threat Category</label>
	      <p class="rounded-5"><%=@report.category.name%></p>
	    </li>
            <li>
              <label class="name">Report Description</label>
              <p class="rounded-5 "><%=@report.description%></p>
            </li>
			<li>
				
              <label class="name">Video Link</label> </br>
			  <p class="rounded-5 ">
              <a href="<%=@report.video%>" target="_blank"><%=@report.video%></a>
			  </p>
            </li>
	    <% if @report.user==current_user || admin?%>
	    <li>
	      <%= link_to "Delete", report_path(@report), :method => :delete,:confirm=>"Are you sure you want to delete the report?" %>
	    </li>
	    <%end%>
	    <%=hidden_field_tag(:lat,@report.lat)%>
	    <%=hidden_field_tag(:lng,@report.lng)%>
	  </ol>	
	</div>
  </div>
  <div id="pic-box">
    <div id="galleria">
      <%@report.incident_images.each do |image|%>
      <div>
	<%= image_tag image.image.url %>
      </div>
      <%end%>
 
    </div>
  </div>   
   
   
  
      <div id="map"></div>
    
 
</div>
<script>

  $("#map").mapWithSingleMarker({lat: 'lat',lng:'lng',from_server: true,edit_marker:false})
    
    // Load theme
    Galleria.loadTheme('/javascripts/themes/classic/galleria.classic.js');
    
    // run galleria and add some options
    $('#galleria').galleria({
        image_crop: false, // crop all images to fit
	height: 300,
        thumb_crop: true, // crop all thumbnails to fit
        transition: 'fade', // crossfade photos
        transition_speed: 700, // slow down the crossfade
        data_config: function(img) {
            // will extract and return image captions from the source:
            return  {
                title: $(img).parent().next('strong').html(),
                description: $(img).parent().next('strong').next().html()
            };
        },
        extend: function() {
            this.bind(Galleria.IMAGE, function(e) {
                // bind a click event to the active image
                $(e.imageTarget).css('cursor','pointer').click(this.proxy(function() {
                    // open the image in a lightbox
                    this.openLightbox();
                }));
            });
        }
    });
</script>
