<div id="header-outer" class="rounded-10">
        
  <h1><%=link_to "Home", home_path,:id=>'logo'%></h1>
        
  <div id="header-login">
    <% if signed_in? %>
    <%= link_to "Sign out", signout_path, :method => :delete%>
    <% else %>
    <%= link_to "Sign in", signin_path %> &nbsp;|&nbsp;
    <%= link_to "Register", signup_path%>
    <% end%>
  </div>
  <div id="header-inner">
    <%= link_to "Home", home_path %> &nbsp;|&nbsp;
    <%= link_to "Understand Threats", understandthreats_path %> &nbsp;|&nbsp;
    <%= link_to "Report a Threat", new_report_path %> &nbsp;|&nbsp;
    <%= link_to "Reports", reports_path %> &nbsp;|&nbsp;
    <%= link_to "FAQ", '#' %> &nbsp;|&nbsp;
    <%= link_to "Contact", '#' %> 
    <% if signed_in? %> 
    <%= link_to "Profile", current_user %> &nbsp;|&nbsp;
    <%= link_to "Settings", edit_user_path(current_user) %>
    <% end %> 
  </div>
</div>
