<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html class="cufon-active cufon-ready" xmlns="http://www.w3.org/1999/xhtml">
  <head> 
    <title><%=title%></title> 
    <%= render 'layouts/stylesheets'%>
	<link rel="shortcut icon" href="../images/logo_browser.gif"> 
  </head> 
  <body> 
    <div id="wrapper">
      <%= render 'layouts/headers'%>
      <div id="main">
	<div id="main-inner">
	  <% flash.each do |key, value|%>
	  <div class="flash <%= key %>"><%= value%></div> 
	  <% end %>
	  <%= yield %>
           <div id="footer">
<div>
<table border="0">
<tr>
<td>
Spread your </td>
<td style="padding:0px; margin:0px;">
<%= link_to image_tag('Support.png') , pages_path(:support) %>
</td>
<td>| &copy;2010 Conservation Threats</td>
</tr>
</table>
</div>
	   </div>
	  <%= debug(params) if Rails.env.development? %>
	</div>
      </div>
    </div>
  </body>
</html>

