<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html class="cufon-active cufon-ready" xmlns="http://www.w3.org/1999/xhtml">
  <head> 
    <title><%=title%></title> 
    <%= render 'layouts/stylesheets'%>
	<link rel="shortcut icon" href="../images/logo_browser.gif"> 
	    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="description" content="ConservationThreats: Data about wildlife threats"> 
		<meta name="keywords" content="ConservationThreat, Conservation Threat, wildlife threats, india, karnataka, poaching, hunting, mining, cattle , roadkill, fragmentation, forestfire, livestock, timber smuggling,excessive tourism, wildlife conservation"> 
</head> 
  <body> 
    <div id="wrapper">
      <%= render 'layouts/headers'%>
      <div id="main">
	<div id="main-inner">
	  <% flash.each do |key, value|%>
	  <div class="flash <%= key %>"><%= value%></div> 
	  <% end %>
	  <%= yield %>
           <div id="footer">
<div>
<table border="0" align = "right">
<tr>
<td>
</td>
<td>
Spread your </td>
<td style="padding:0px; margin:0px;">
<a href="/pages/support" target="_blank"><%= image_tag("Support.png")%>
</td>
<td>| &copy;2010 Conservation Threats</td>
</tr>
</table>
</div>
	   </div>
	  <%= debug(params) if Rails.env.development? %>
	</div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19958395-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
if ($.browser.msie) {
	if ($.browser.version < 8) {
		alert("You are using Internet Explorer version less than 8. Kindly upgrade to IE8 or use Firefox.");
	}
 }

</script>
</html>

